# -------- Maven / Java --------
api/target/
api/*.log
api/*.class
api/*.jar
api/*.war
api/*.iml
api/*.ipr
api/*.iws

# -------- IDEs --------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------- OS --------
.DS_Store
Thumbs.db

# -------- Docker --------
*.tar
docker-compose.override.yml
api/*.tar
api/docker-compose.override.yml

# -------- Environment / Secrets --------
api/.env
api/.env.local
api/application.properties
api/application-*.yml


# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

